:root {
	/* Colors */
	--primary: #3d3b40;
	--highlight: #f0374d;
	--white: rgba(255, 255, 255, 1);
	--off-white: #f9f9fa;
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);
	--black-2: #222;

	/*--theme-1: rgba(40, 51, 35, 1);*/
	--theme-1: #222;
	--theme-2: #121212;
	--theme-text: white;
	--selection-bg: #3d3b40;

	/* Typography */
	/*--font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;*/
	/*--font-family: "Inter", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;*/
	--font-family-cms: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--line-height: 1.5;

	--font-size: 14px;
	--font-size-m: 14px;
	--font-size-l: 16px;
	--font-size-cms: 18px;

	--body-font-weight: 100;
	--bold-font-weight: bold;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;

	--max-body-width: 980px;
}
