{{ define "main" }}

<main class="flex flex-column flex-auto flex-no-shrink">
  {{ partial "headline" (dict "title" .Params.title_informal) }}
  <div class="flex flex-wrap justify-between-ns justify-center">
    <div class="code ma3 w5-ns w-100">
      <div class="pa2 ba b--grey-4 br1 bg-off-white black">
        <div><img src="/img/keybase.png" alt="keybase" class="w1 mr1"/>{{ .Params.keybase }}</div>
        <div>
          <a href="https://github.com/{{ .Params.github }}" target="_blank" rel="noopener">
            <img src="/img/github.png" alt="github" class="w1 mr1"/>{{ .Params.github }}
          </a>
        </div>
        <div>{{ .Params.email }}</div>
      </div>
    </div>
    <img src="/img/profile.jpg" alt="face" class="w5 h5 ma3 ba" />
  </div>
  <div class="flex flex-wrap justify-between-ns justify-center">
    <div>
      <div class="flex flex-wrap items-center">
        <div class="ma3 mr0">
          Working for
        </div>
        <div class="ma3">
          <a href="{{ .Params.company }}" target="_blank" rel="noopener"><img src="/img/company.png" alt="employer" class="ba w4"/></a>
        </div>
      </div>
      <div class="flex flex-wrap items-center">
        <div class="ma3 mr0">
          Studying at
        </div>
        <div class="ma3">
          <a href="{{ .Params.university }}" target="_blank" rel="noopener"><img src="/img/university.jpg" alt="university" class="ba w4"/></a>
        </div>
      </div>
    </div>
    <div class="ma3 h5 w-100 w-50-ns">
      <div class="pa2 ba b--grey-4 br1 bg-off-white black fw4">
        <h3>Interests:</h3>
        <ul class="ml4 list-circle">
          <li>Software architectures</li>
          <li>Privacy and Data protection</li>
          <li>Full stack engineering</li>
        </ul>
      </div>
    </div>
  </div>
  <div></div>
</main>

{{ end }}
